$green-primary:#43A047;
$green-secondary:#A4D9A7;
$green-accent:#E8F5E9;

$green-primary-transparent:#43a048d7;

$grey-text-dark:#707070;

$grey-background:#F5F5F5;
$grey-background-accent:#dddddd;
$light-background-darker: #D8D8D8;	
$grey-background-transparent:#f5f5f5c5;

 
$systembar:#283128; 

$white: #FFFFFF;
$black: #000000;
