$green-primary:#43A047;
$green-secondary:#A4D9A7;
$green-light:#E8F5E9;

$green-primary-transparent:#43A047;

$grey-text-dark:#707070;

$grey-background:#F5F5F5;
$light-background-darker: #D8D8D8;	
 
$systembar:#283128; 

$white: #FFFFFF;
$black: #000000;
